body {
  margin: 0 auto;
  padding: 20px;
}

.container {
  max-width: 760px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: #a52a2a;
}

h1 {
  text-align: center;
  color: #ffffff;
}

.big {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p {
  font-size: 18px;
}

.other {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.link {
  font-style: italic;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.images {
  display: flex;
  justify-content: center;
}

.car {
  border: 3px dashed black;
  margin: 3px;
  padding-bottom: 5px;
}

footer {
  background-color: black;
  text-align: center;
  margin-top: 50px;
}

.copyright {
  color: #ffffff;
  font-size: 20px;
}
