@font-face {
    font-family: 'Alex Brush';
    src: url(../fonts/Alex);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open-Sans', sans-serif;
}

.wrapper {
    width: 100%;
}

.block1 {
background: #f6f2f2;
padding: 29px 0 111px;
}

.container {
    width: 1249px;
    margin: 0 auto;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row.stretch {
    align-items: stretch;
}
.line {
    margin: 91px p;
    background: #ececec;
    height: 2px;
}
.left-side, .right-side {
    display: flex;
    flex-direction: column;

} 
.description {
    font-size: 16px;
    font-weight: 400;
    max-width: 517px;
    color: #4e4e4e;
    margin-bottom: 54px;
}

.btn {
    padding: 15px 62px;
    max-width: max-content;
    border: 2px solid #ff0000;
    border-radius: 5px;
    color: #ff2d2d;
    font-weight: 700;
    cursor: pointer;
}
.btn.solid {
    background: #ff2d2d;
    color: #fff;
}
.regular-title {
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 577px;
    margin-bottom: 36px;
}

header {
    background: #000;
    font-weight: 700;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-bottom: 88px;
}

nav {
    display: flex;
}

nav a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 40px 23px 30px;
    color: #fff;
}
nav a:hover {
    background-color: #ff3f40;
}

.main-title {
  font-weight: 800;
  font-size: 60px;
  max-width: 591px; 
}

.cap_video {
    width: 551px;
    height: 336px;
    background: rgb(204, 204, 204);
    border: 1px solid #ff2d2d;
    box-shadow: -1px -4px 64px 34px rgba(0, 0, 0, 0.16);
}
.block2 {
    padding-top: 99px;
    background: #fff;
}
.right-side.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 615px;
}

.type-of-work {
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
}
.icon-settings {
    width: 40px;
    height: 40px;
    margin-bottom: 23px;
}
.icon-pencil {
    width: 39px;
    height: 37px;
    margin-bottom: 25px;
}
.icon-diamond {
    width: 40px;
    height: 33px;
    margin-bottom: 33px;
}
.icon-truck {
    width: 44px;
    height: 33px;
    margin-bottom: 33px;
}
.type-of-work .title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 12px;

}
.type-of-work .description {
    margin-bottom: 0;
    width: 294px;
}
.block3 {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.block3 .regular-title {
    margin-bottom: 19px;

}
.block3 .description {
    margin-bottom: 0;
    text-align: center;
}
.block3 .line {
    width: 130px;
    background: #ff2d2d;
    margin: 28px 0 81px;
}
.block3 .regular-subtitle {
    color: #4e4e4e;
    font-weight: 620;
    font-size: 22px;
    cursor: pointer;
    text-transform: uppercase;
}
.block4 {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 90px;
}
.block4 .regular-title {
    margin-bottom: 19px;

}
.block4 .description {
    margin-bottom: 0;
    text-align: left;
    margin-top: 20px;
}
.block4 .line {
    width: 130px;
    background: #ff2d2d;
    margin: 28px 0 81px;
}
.block4 .regular-title-block4 {
    justify-content: flex-end;
    flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
  padding-top: 10px;

}

.regular-title-social {
margin-bottom: 10px;
}

.block5 .description {
    max-width: 100%;
    margin-bottom: 60px;
    margin-top: -70px;
    color: #fff;
    margin-left: 300px;
}
.block5 {
    background: #f5f0dd;
    height: 470px;
}
.block5 .regular-title {
    text-align: center;
    color: #fff;
    text-transform: none;
    max-width: 100%;
    padding: 70px;
    margin-top: 40px;
}
.block5 .description {
    max-width: 100%;
    margin-bottom: 60px;
    margin-top: -70px;
    color: #fff;
    margin-left: 300px;
}
.block5 input[type="email"] {
    width: 521px;
    padding: 28px 35px;
    font-size: 16px;
    margin-left: 210px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.block5 input[type="submit"] {
    background-color: #ff2d2d;
    border: none;
    color: #fff;
    padding: 25px 55px;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
}
.block6 {
    margin-top: 70px;
}
.filtres-social {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}



.filtres {
    display: flex;
    width: 893px;
    justify-content: space-between;
    margin-bottom: 60px;
}
.block3 .regular-subtitle:hover {
    color: #ff2d2d;
}
.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 124px;
}
.portfolio-item {
    border: 1px solid #ececec;
    width: 298px;
    height: 290px;
    margin: 10px 0;
    background: #f6f2f2;
}
.footer {
    width: 100%;
    height: 60px;
    background: #000000;
        
}
.footer-block {
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
  
} 
.footer-company {
        flex-direction: column;
}
