@mixin hover ($color) {
    color: $color;
    &:hover {
        background-color: $color;
        border-color: $color;
    }
}
@mixin placeholder (){
    &::-webkit-input-placeholder {@content};
    &::-moz-placeholder {@content};
    &:-ms-input-placeholder {@content};
}