.title {
    text-align: center;
    font-family: $font-secondary;
    font-size: 30px;
    line-height: 1;
    color: red;
    font-weight: 400;
    margin: 0;
    padding-top: 97px;
    padding-bottom: 26px;

    span {
        color: $color-success;
        font-weight: 700;
    }
}

.text {
    text-align: center;
    margin: 0;
    padding-bottom: 50px;
}