* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  width: 100%;
}

.container {
  width: 1249px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row.stretch {
  align-items: stretch;
}

.line {
  margin: 91px 0;
  background: #ececec;
  height: 2px;
}

.left-side,
.right-side {
  display: flex;
  flex-direction: column;
}

.description {
  font-size: 16px;
  font-weight: 400;
  max-width: 571px;
  color: #4e4e4e;
  margin-bottom: 54px;
}

.btn {
  padding: 15px 62px;
  max-width: max-content;
  border: 2px solid #ff0000;
  font-size: 18px;
  border-radius: 5px;
  color: #ff2d2d;
  font-weight: 700;
  cursor: pointer;
}

.btn.solid {
  background: #ff2d2d;
  color: #fff;
}

.regular-title {
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 577px;
  margin-bottom: 36px;
}

.block1 {
  background-color: #f6f2f2;
  padding: 29px 0 111px;
}

header {
  background: #000;
  font-weight: 700;
  color: #fff;
  display: flex;
  justify-content: center;
  margin-bottom: 88px;
}

nav {
  display: flex;
}

nav a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 40px 23px 30px;
  color: #fff;
}

nav a:hover {
  background: #ff3f40;
}

.main-title {
  font-weight: 800;
  font-size: 60px;
  max-width: 591px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.cap_video {
  width: 551px;
  height: 336px;
  background: rgb(204, 204, 204);
  border: 1px solid #ff2d2d;
  box-shadow: -1px -4px 64px 34px rgba(0, 0, 0, 0.16);
}

.block2 {
  padding-top: 99px;
  background: #fff;
}

.right-side.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 615px;
}

.type-of-work {
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
}

.icon-settings {
  width: 40px;
  height: 40px;
  margin-bottom: 23px;
}

.icon-pensil {
  width: 39px;
  height: 37px;
  margin-bottom: 25px;
}

.icon-diamond {
  width: 40px;
  height: 33px;
  margin-bottom: 32px;
}

.icon-truck {
  width: 44px;
  height: 33px;
  margin-bottom: 33px;
}

.type-of-work .title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 12px;
}

.type-of-work .description {
  margin-bottom: 0;
  width: 294px;
}

.block3 {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block3 .regular-title {
  margin-bottom: 19px;
}

.block3 .description {
  margin-bottom: 0;
  text-align: center;
}

.block3 .line {
  width: 130px;
  background: #ff2d2d;
  margin: 28px 0 81px;
}

.block3 .regular-subtitle {
  color: #4e4e4e;
  font-weight: 600;
  font-size: 22px;
  cursor: pointer;
  text-transform: uppercase;
}

.filters {
  display: flex;
  width: 893px;
  justify-content: space-between;
  margin-bottom: 60px;
}

.block3 .regular-subtitle:hover {
  color: #ff2d2d;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 124px;
}

.portfolio-item {
  border: 1px solid #eceece;
  width: 298px;
  height: 290px;
  margin: 10px 0;
  background: #f6f2f2;
}
