// color
$color-grey: #666;
$color-grey-lighten-1: #bababa;
$color-dark: #202020;
$color-success: #2ec06c;
$color-facebook: #3b5998;
$color-twitter: #00aced;
$color-instagram: #517fa4;
$color-dribbble: #ff0084;
// fonts
$font-primary: 'Karla',
sans-serif;
$font-secondary: 'Asap',
sans-serif;