*{
    margin: 0;
    box-sizing: border-box;
    background: #877D7C
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block{
    height: 150px;
    width: 150px;
    border: 2px solid white;
    color: white;
    font-size: 70px;
    text-align: center;
    padding-top: 30px;
}

.container-block{
    display: flex;
}

.last-block{
    width: 300px;
    border: 2px solid white;
    height: 150px;
    border-radius: 150px 150px 0 0;
    overflow: hidden;
    color: white;
    font-size: 70px;
    text-align: center;
    padding-top: 30px;
}
