* 


h1 {
    font-family: Verdana; 
    background-color: crimson;
    color: white;
    font-size: 20px;
    width: 50 px;
 
        }
        p {
            font-family: Arial, Helvetica, sans-serif; 
            font-size: 18pt; /* Размер шрифта в пунктах */ 
           }
        
        .border-blue {
            border-color: blue;
            border-width:3px;
            border-style: dashed;
        }
.photo {
    width: 100%;
}
footer {
    
   center: 0; bottom: 0; 
    padding: 10px; /* Поля вокруг текста */
    background: black ; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
    font-size: 20px
    font-family: Verdana; 
}