@font-face {
    font-family: "Montserrat-Regular",  sans-serif;
    src: url(./fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'PT Sans', sans-sessrif;
    src: url(./fonts/PTSans-Regular.ttf);
}